a,
a:active,
a:visited {
  color: white;
}

a:hover {
  color: #9b9999;
}

p {
  width: 80%;
  color: #c9c9c9;
  margin: 0.25rem;
  letter-spacing: 0.1rem;
  cursor: default;
}

.Greeting {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.25rem;
  color: #ffffff;
}

.Excitement {
  font-style: italic;
}

h2 {
  letter-spacing: 0.25rem;
  margin-bottom: 1rem;
  color: white;
}
h3 {
  letter-spacing: 0.15rem;
  color: white;
}

.description {
  letter-spacing: 0.05rem;
  color: #9b9999;
}

.tech {
  margin-bottom: 2rem;
  font-style: italic;
  color: #a45bf7;
}

#logo {
  @media screen and (max-width: 768px) {
    width: 0;
    height: 0;
  }
}

#navheader {
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.StyledNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0px 1px 13px 0px rgba(73, 19, 160, 0.8);
  border-bottom: 1px solid #5c3798;
}

.StyledNavName {
  width: 10rem;
  padding: 0.5rem;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.StyledNavLinks {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.StyledNavImages {
  width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: flex-end;
  justify-content: center;
}

.StyledMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.StyledAboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 5px rgba(73, 19, 160, 0.6);
  max-width: 44rem;
  margin: 2rem;
  padding: 1rem;
  gap: 0.5rem;
  overflow: auto;
}

.StyledProjectsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 70rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.StyledProject {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem;
  padding: 1rem;
  width: 20rem;
  box-shadow: 0px 0px 10px 4px rgba(73, 19, 160, 0.6);
  border-radius: 0.5rem;
  align-items: center;
  height: 25rem;
}

.StyledProjectPart {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.StyledProjectFooter {
  margin-top: auto;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  & a {
    color: #5c3798;
    text-decoration: none;
    &:hover {
      color: #a45bf7;
    }
  }
}

.StyledFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: default;
  gap: 1rem;
  width: 100%;
  height: 2.5rem;
  box-shadow: 0px 1px 13px 0px rgba(73, 19, 160, 0.8);
  border-top: 1px solid #5c3798;
  margin-top: auto;
}
