a,
a:active,
a:visited {
  color: white;
}

a:hover {
  color: #9b9999;
}

p {
  width: 80%;
  color: #e1e1e1;
  margin: 0.25rem;
  letter-spacing: 0.1rem;
  cursor: default;
  line-height: 1.5;
}

.greeting {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.3rem;
  color: #ffffff;
}

.excitement {
  font-style: italic;
}

h2 {
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
  cursor: default;
  color: white;
}

.projectName {
  letter-spacing: 0.15rem;
  font-size: 1.25rem;
  padding: 0.75rem;
}

.description {
  letter-spacing: 0.2rem;
  color: #c6c6c6;
}

.date {
  margin-bottom: 2rem;
  font-style: italic;
  color: #a45bf7;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0px 1px 13px 0px rgba(73, 19, 160, 0.8);
  border-bottom: 1px solid #5c3798;
}

.navName {
  width: 10rem;
  padding: 0.5rem;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.navLinks {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.navImages {
  width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: flex-end;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 5px rgba(73, 19, 160, 0.6);
  max-width: 44rem;
  margin: 2rem;
  padding: 1rem;
  gap: 0.5rem;
  overflow: auto;
}

.singleProject {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem;
  padding: 1rem;
  width: 20rem;
  box-shadow: 0px 0px 10px 4px rgba(73, 19, 160, 0.6);
  border-radius: 0.5rem;
  align-items: center;
  text-align: center;
  height: 30rem;
}

.projectsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 70rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem;
  padding: 1rem;
  width: 25rem;
  box-shadow: 0px 0px 10px 4px rgba(73, 19, 160, 0.6);
  border-radius: 0.5rem;
  align-items: center;
  text-align: center;
  height: 15rem;

  @media screen and (max-width: 768px) {
    width: 20rem;
  }
}

.projectPart {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.projectFooter {
  margin-top: auto;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  & a {
    color: #5c3798;
    text-decoration: none;
    &:hover {
      color: #a45bf7;
    }
  }
}

.projectDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  height: 86vh;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: default;
  gap: 1rem;
  width: 100%;
  height: 2.5rem;
  box-shadow: 0px 1px 13px 0px rgba(73, 19, 160, 0.8);
  border-top: 1px solid #5c3798;
  margin-top: auto;
}
